<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<context:annotation-config />
	<context:component-scan base-package="cellphoneshop" />
	
<!-- 	<bean id="propertyConfigurer_message" -->
<!-- 		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" -->
<!-- 		p:location="/WEB-INF/message.properties" /> -->

	<bean id="message" class="cellphoneshop.util.Message">
		<property name="messageList">
		<props>
			<prop key="errorPassword">Mật khẩu không hợp lệ</prop>
			<prop key="mismatch">Mật khẩu không khớp</prop>
			<prop key="unknowFirstName">Chưa nhập họ</prop>
			<prop key="unknowName">Chưa nhập tên</prop>
			<prop key="errorEmail">Địa chỉ Email không hợp lệ</prop>
			<prop key="duplicateEmail">Địa chỉ Email đã được sử dụng</prop>
			<prop key="errorBirthDate">Ngày sinh không hợp lệ</prop>
			<prop key="errorPhoneNumber">Số điện thoại không hợp lệ</prop>
			<prop key="unknowAddress">Vui lòng nhập địa chỉ</prop>
			
			<prop key="unknowLoginUser">Bạn phải đăng nhập mới có thể cập nhật thông tin tài khoản</prop>
			<prop key="updateSuccess">Thông tin tài khoản của bạn đã được cập nhật thành công</prop>
			<prop key="updateFail">Thông tin tài khoản của bạn chưa được cập nhật hoặc có lỗi trong quá trình cập nhật</prop>
			<prop key="unknowSex">Thông tin giới tính không chính xác</prop> 
			<prop key="updatePasswordSuccess">Mật khẩu của bạn đã được cập nhật thành công</prop>
			<prop key="updatelFailPassword">Mật khẩu của bạn cập nhật không thành công, xin kiểm tra lại mật khẩu hiện tại đã nhập</prop>
			<prop key="errorCurrentPassword">Mật khẩu hiện tại không chính xác</prop>
			
			<prop key="unknowFullName">Vui lòng nhập họ tên</prop>		
			<prop key="unknowInfo">Vui lòng nhập đủ thông tin</prop>
			<prop key="errorInfoKM">Thông tin khuyến mãi không được tìm thấy</prop>
			<prop key="errorUpdateKM">Cập nhật thông tin khuyến mãi thất bại. Xin kiểm tra lại thông tin nhập</prop>
			<prop key="errorIdStatus">Vui lòng kiểm tra lại mã trạng thái( 0: sắp diễn ra khuyến mãi, 1: hết khuyến mãi, 2: còn khuyến mãi)!</prop>
			<prop key="errormaKM">Vui lòng kiểm tra lại mã khuyến mãi, có thể bạn đã nhập sai!</prop>
			<prop key="notFoundKM">Không tìm thấy khuyến mãi này!</prop>
			<prop key="errorNgayKT">Ngày kết thúc khuyến mãi phải lớn hơn hoặc cùng với ngày hiện tại</prop>
			<prop key="unkownNgayKT">Vui lòng nhật ngày kết thúc của khuyến mãi</prop>
			<prop key="errorNgayBD">Ngày bắt đầu khuyến mãi phải nhỏ hơn hoặc cùng với ngày hiện tại</prop>
			<prop key="errorNgayBDTL">Ngày bắt đầu khuyến mãi sắp diễn ra phải lớn hơn hoặc cùng với ngày hiện tại</prop>
			<prop key="unknownNgayBD">Vui lòng nhập ngày bắt đầu của khuyến mãi</prop>
			<prop key="unknownMota">Vui lòng nhập mô tả cho khuyến mãi</prop>
			<prop key="unknownTieuDe">Vui lòng nhập tiêu đề của khuyến mãi</prop>
			<prop key="unknownImage">Vui lòng chọn hình ảnh minh họa cho khuyến mãi</prop>
			<prop key="unknownPhanTrangGiamGia">Xin vui lòng kiểm tra lại phần trăm giảm giá, thông tin nhập chưa chính xác</prop>
			<prop key="errorInsert">Thêm khuyến mãi không thành công</prop>
			<prop key="errorSaveImage">Không thể lưu hình ảnh khuyến mãi vừa upload lên!. Xin kiểm tra lại</prop>
			<prop key="errorInsertProduct">Lỗi không thể thêm sản phầm vào csdl. Vui lòng liên hệ với người quản trị để kiểm tra lỗi này.</prop>
			<prop key="unchooseProducer">Bạn chưa chọn nhà sản xuất</prop>
			<prop key="errorNamePhone">Tên sản phẩm chưa hợp lệ</prop>
			<prop key="unknowProducer">Không tìm thấy nhà sản xuất</prop>
			<prop key="errorProducer">Tên nhà sản xuất không hợp lệ</prop>
			<prop key="errorPrice">Giá sản phẩm không hợp lệ</prop>
			<prop key="errorSoThangBaoHanh">Số tháng bảo hành không hợp lệ</prop>
			<prop key="errorSoLuongHienCo">Số lượng hiện có không hợp lệ</prop>
			<prop key="errorTongSoLuong">Tổng số lượng nhập vào không hợp lệ</prop>
			<prop key="lagerTongSoLuong">Số lượng hiện có không được lớn hơn tổ số lượng sản phẩm</prop>
			
				
		</props>
		</property>
	</bean>
	
	<bean id="regex" class="cellphoneshop.util.PatternRegex">
		<property name="patternList">
		<props>
			<prop key="email">^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$</prop>
			<prop key="phone">^\d{6,11}$</prop>		
			<prop key="password">^.{6,20}$</prop>	
			<prop key="date_format">MM/dd/yyyy</prop>		
		</props>
		</property>
	</bean>

</beans>
       				
