<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.2.xsd">
       			
       			
    <context:annotation-config />
	<context:component-scan base-package="cellphoneshop" />
     
     
    <bean id="homeAction" class="cellphoneshop.controller.HomeController">
	</bean>		
		
	<bean id="accountAction" class="cellphoneshop.controller.AccountController">
	</bean>
	
	<bean id="productAction" class="cellphoneshop.controller.ProductController">
	</bean>
	
	<bean id="shoppingCartAction" class="cellphoneshop.controller.ShoppingCartController">
	</bean>
	
	<bean id="checkoutAction" class="cellphoneshop.controller.CheckoutController">
	</bean>
	
	<bean id="demoAction" class="cellphoneshop.controller.DemoController">
		
	</bean>
 	
</beans>
       				
